h1 {
    color: rgb(20, 2, 177);
    text-align: center;
}

h4 {
    padding: center;
}

p {
    color: rgb(0, 0, 0);
}

hr {
    border: 0;
    height: 0.5px;
    background-image: linear-gradient(to right, rgb(252, 0, 0), rgba(247, 0, 0, 0.911), rgb(255, 2, 2));
}

body {
    background-color: mintcream;
    background-size: cover;
    color: black;
    background-position: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Menu-bar {
    background-color: rgb(0, 100, 0);
    text-align: center;
    margin: 0 auto;
}

.Menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.Menu-bar ul li {
    width: fit-content;
    height: 45px;
    margin: 25px;
}

.Menu-bar ul li a {
    text-decoration: none;
    color: #fff;
}

.active,
.Menu-bar ul li:hover {
    border-radius: 2px;
    background-color: rgb(0, 100, 0);
}

.Menu-bar .fa {
    margin-right: 0px;
}

.sub-menu {
    display: none;
}

.Menu-bar ul li:hover .sub-menu {
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: -15px;
    background-color: rgb(219, 15, 15);
}

.Menu-bar ul li:hover .sub-menu ul {
    display: block;
    margin: 10px;
}

.Menu-bar ul li:hover .sub-menu ul li {
    width: 115px;
    text-align: center;
}

.Menu-bar ul li:hover .sub-menu ul li:last-child {
    border-bottom: none;
}

.menu-grid {
    display: grid;
    grid-template-columns: auto;
}

@media (max-width: 600px) {
    .menu-grid {
        grid-template-columns: 50% 50%;
    }
}

.about-list-item {
    color: rgb(240, 63, 9);
    list-style: none;
}

#item-head {
    color: rgb(6, 172, 0);
}

#Offer {
    font-size: x-large;
}

#Head-quarters {
    color: rgb(6, 172, 0);
}

#form {
    font-size: 30px;
    font-family: monospace;
    text-align: right;
    padding-top: 1cm;
}

#search-button {
    font-size: 12px;
    padding-right: 1px;
    margin-right: 1px;
}

#query {
    width: 15%;
    height: 55%;
    text-align: right;
}

.intro,
.I-am,
.I-like,
.I-dream {
    text-align: center;
}

.intro-img {
    justify-self: center;
    padding: 4px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.favorite-quote {
    color: rgb(0, 0, 0);
}

.about-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

@media (max-width: 600px) {
    .about-grid {
        grid-template-columns: 100%;
    }
}

.about-list {
    list-style: none;
    color: rgb(0, 0, 0);
    text-align: center;
}

.You-tube {
    text-align: center;
}

.youtube-services {
    text-align: center;
}

.about-links {
    display: grid;
    text-align: center;
}

@media (max-width: 600px) {
    .about-links {
        grid-template-columns: 100%;
    }
}

.projects-heading {
    text-align: center;
    color: rgb(255, 4, 87);
}

.projects-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 35px;
    grid-gap: 20px
}

.projects-img {
    padding: center;
    padding-top: 10px;
    height: 250px;
    width: 250px;
    column-gap: 30px;
}

.projects-container {
    padding: center;
    margin: auto;
}

.projects-img:hover {
    filter: brightness(.75);
}

@media (max-width: 600px) {
    .projects-grid {
        grid-template-columns: 100%;
    }
}

.responsive-grid {
    display: grid;
    grid-template-columns: auto;
}

@media (max-width: 600px) {
    .responsive-grid {
        grid-template-columns: auto;
    }
}

.container {
    margin: auto;
}

#off {
    color: rgb(255, 2, 2);
}

li {
    list-style: none;
}